<div class="l-apple-box"></div>

<h3> 
  All <%= params[:action] == "index" ? "" : params[:action] %> devices
</h3>

<%= render 'search_box' %>

<div class="l-apple-box"></div>
<%= render 'tab' %>
<div class="l-apple-box"></div>
<table class="table table-striped">
  <tr>
    <th>
      #
    </th>
    <th>
      Type
    </th>
    <th>
      Mac Address
    </th>
    <th>
      Latest Signal
    </th>
    <th>
      Latest Datetime
    </th>
    <th>
      Show
    </th>
    <th>
      Delete
    </th>
  </tr>
  <% @devices.each do |d| %> 
    <tr>
      <td>
        <%= d.id %>
      </td>

      <td>
        <%= d.device_type %>
      </td>
      <td>
        <%= d.mac_address %>
      </td>
      <td>
        <%= d.latest_signal_strength %>
      </td>

      <td>
        <%= d.latest_signal_datetime.in_time_zone("Eastern Time (US & Canada)").strftime("%Y-%m-%d %H:%M:%S") %>
      </td>
      <td>
        <%= link_to "Show", admin_device_path(d) %>
      </td>
      <td>
        <%= link_to "Delete", admin_device_path(d), :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @devices, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer  %>