<%= form_for [:admin, @scanner], :html => {:class => 'form-horizontal'} do |f| %>

  <div class="form-group">
    <%= f.label :device_id, 'Device Name', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :device_id, :class => 'form-control', :placeholder => 'Device Name' %>
    </div>
  </div>

   <div class="form-group">
    <%= f.label :pos_x, 'X Position', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :pos_x, :class => 'form-control', :placeholder => 'X Position' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :pos_y, 'Y Position', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :pos_y, :class => 'form-control', :placeholder => 'Y Position' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>